bin/*

# Only include compressed pgn list files - not other test database files
tests/test_database/*.pgn*
!tests/test_database/*.pgn.list.bz2
tests/test_database/*.chessz
tests/test_database/*.chessz.bz2